[Unit]
Description=Zenith Ultra-Low-Latency Audio Streaming Server
After=pipewire.service sound.target network.target

[Service]
Type=simple
ExecStart=/home/fahad/Projects/zenith-audio/server/bin/zenith-server --port 59100 --bitrate 320
Restart=always
RestartSec=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=50

[Install]
WantedBy=default.target
